<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td><a [routerLink]="['/view/'+ user.id]">{{ user.name }}</a> </td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td><button class="btn btn-primary" [routerLink]="['/edit/' + user.id]">Edit</button> | <button class="btn btn-primary" (click)="delete(user)">Delete</button></td>
           

          </tr>
        </tbody>
      </table>
    </div>
  </div>
